openapi: 3.0.0
info:
  contact:
    email: info@blockchainapi.com
  description: "# About\n\nOur vision is to make it super easy to interact with the\
    \ decentralized web. We want you to be able to do this in any coding language\
    \ and do it easily and quickly. \n\nYou're a key part of our vision. We love feature\
    \ requests! <a href=\"#section/Feature-Requests\">Make one!</a>\n\n# How to Use\
    \ the API\n\nTo use the API, you simply need to create an API key pair.\n\nDoing\
    \ so takes less than a minute. Simply go to <a target=\"_blank\" href=\"https://dashboard.blockchainapi.com\"\
    >the dashboard</a>, create an account, and generate a key pair. You can now use\
    \ this pair to make API requests. You must create your first pair via the dashboard.\n\
    \n# Feature Requests\n\nGot a feature request? Submit it as an issue on <a target=\"\
    _blank\" href=\"https://github.com/BL0CK-X/the-blockchain-api/issues/new/choose\"\
    >our GitHub repo</a> or [email us](mailto:info@blockchainapi.com).\n\n# Contact\n\
    \n<figure>\n    <img \n        width=\"40px\"\n        height=\"40px\" \n    \
    \    src=\"https://theblockchainapi-docs.s3.amazonaws.com/icons/phone.svg\"\n\
    \    />\n    <figcaption style=\"textAlign:center;\">Text / Call: +1 (415) 888\
    \ 4745 </figcaption>\n</figure> <a href=\"mailto:info@blockchainapi.com\" target=\"\
    _blank\">\n    <figure>\n        <img \n            width=\"40px\"\n         \
    \   height=\"40px\" \n            src=\"https://theblockchainapi-docs.s3.amazonaws.com/icons/email.svg\"\
    \n        />\n        <figcaption style=\"textAlign:center;\">Email us: info@blockchainapi.com</figcaption>\n\
    \    </figure>\n</a> <a href=\"https://discord.gg/d49yzrZRAF\" target=\"_blank\"\
    >\n    <figure>\n        <img \n            width=\"40px\"\n            height=\"\
    40px\" \n            src=\"https://theblockchainapi-docs.s3.amazonaws.com/icons/discord.svg\"\
    \n        />\n        <figcaption style=\"textAlign:center;\">Join our Discord</figcaption>\n\
    \    </figure>\n</a> <a href=\"https://twitter.com/BlockchainAP1\" target=\"_blank\"\
    >\n    <figure>\n        <img \n            width=\"40px\"\n            height=\"\
    40px\" \n            src=\"https://theblockchainapi-docs.s3.amazonaws.com/icons/twitter.svg\"\
    \n        />\n         <figcaption style=\"textAlign:center;\">Follow us on Twitter</figcaption>\n\
    \    </figure>\n</a> <a href=\"https://github.com/BL0CK-X/the-blockchain-api\"\
    \ target=\"_blank\">\n    <figure>\n        <img \n            width=\"40px\"\n\
    \            height=\"40px\" \n            src=\"https://theblockchainapi-docs.s3.amazonaws.com/icons/github.svg\"\
    \n        />\n        <figcaption style=\"textAlign:center;\">Star us on Github</figcaption>\n\
    \    </figure>\n</a>\n\n# Security\n\nCommon dogma is to never give out your seed\
    \ phrase. We agree. It's a matter of security, and anyone who has your seed phrase\
    \ can irreversibly empty your wallet. \n\n<b>When using an API endpoint that requires\
    \ a seed phrase, we highly recommend that users use or create a wallet that they\
    \ do not use as their primary wallet.</b> \n\nHow you make this work depends on\
    \ what you're doing. If you're minting an NFT for example, we recommend creating\
    \ a new wallet and then transferring just enough SOL to that wallet to mint the\
    \ NFT. This is possible on Solana because such transactions cost less than a penny.\
    \ We will have more tutorials in the future that make it easier for you to be\
    \ secure when using our API.\n\nWe have easy-to-use endpoints for <a href=\"#tag/Solana-Wallet/paths/~1solana~1wallet~1secret_recovery_phrase/post\"\
    >creating a new seed phrase</a> and then <a href=\"#tag/Solana-Wallet/paths/~1solana~1wallet~1public_key/post\"\
    >deriving a public key</a> to enable you to transfer to that new wallet.\n\nLet's\
    \ have a constructive dialog about this. Feel free to <a href=\"#section/Contact\"\
    >contact us</a>. I made a video discussing this matter <a target=\"_blank\" href=\"\
    https://youtu.be/m9unUb8Z9qU\">here</a>.\n\nNote: We have had a couple of individuals\
    \ harrass and threaten us. These individuals did <b>not</b> try our API or speak\
    \ to anyone who has used it. They simply saw that we require a seed phrase for\
    \ certain endpoints and figured that the proper response was to attack us. (I\
    \ explain why we do <a target=\"_blank\" href=\"https://youtu.be/m9unUb8Z9qU\"\
    >here</a>.) Such harrassment and threats are not only harmful, but they are also\
    \ illegal, and we will report offenders. Do not harrass us. Rather, feel free\
    \ to discuss your concerns with us and we will be more than happy to work with\
    \ you to come up with a solution.\n\n# Pricing\n\n<b>Each user receives 50,000\
    \ free credits each month.</b> Each endpoint costs a certain amount credits. Scroll\
    \ below to any endpoint (i.e., function) to see how much each endpoint costs.\
    \ (Or CMD+F `Cost: 0 Credit`, for example)\n\nYou can learn more about our pricing\
    \ <a href=\"https://dashboard.blockchainapi.com/billing\" target=\"_blank\">here</a>.\
    \ \n\nWe frequently do custom plans. If our pricing doesn't work for you, <a href=\"\
    #section/Contact\">contact us</a>.\n\nIf you have questions, concerns, feedback,\
    \ or ideas, <a href=\"#section/Contact\">contact us</a>.\n\n# SDKs / API Wrappers\n\
    \nWe have examples using both our <a href=\"https://github.com/BL0CK-X/the-blockchain-api/tree/main/examples\"\
    \ target=\"_blank\">Python wrapper and our JavaScript wrapper here</a>.\n\nWe\
    \ have built a custom <a href=\"https://github.com/BL0CK-X/the-blockchain-api-python-wrapper\"\
    \ target=\"_blank\">Python wrapper</a>.\n\n`pip install theblockchainapi`\n\n\
    We also have published a <a href=\"https://github.com/BL0CK-X/theblockchainapi-javascript-wrapper\"\
    \ target=\"_blank\">JavaScript Wrapper</a>.\n\n`npm install theblockchainapi`\n\
    \nWe also have auto-generated wrappers for the following languages:\n- <a href=\"\
    https://github.com/BL0CK-X/theblockchainapi-go-wrapper\" target = \"_blank\">Go</a>\n\
    - <a href=\"https://github.com/BL0CK-X/theblockchainapi-java-wrapper\" target\
    \ = \"_blank\">Java</a>\n- <a href=\"https://github.com/BL0CK-X/theblockchainapi-kotlin-wrapper\"\
    \ target = \"_blank\">Kotlin</a>\n- <a href=\"https://github.com/BL0CK-X/theblockchainapi-php-wrapper\"\
    \ target = \"_blank\">PHP</a>\n- <a href=\"https://github.com/BL0CK-X/theblockchainapi-swift-wrapper\"\
    \ target = \"_blank\">Swift5</a>\n- <a href=\"https://github.com/BL0CK-X/theblockchainapi-typescript-wrapper\"\
    \ target = \"_blank\">TypeScript</a>\n- <a href=\"https://github.com/BL0CK-X/theblockchainapi-csharp-wrapper\"\
    \ target = \"_blank\">C#</a>\n- <a href=\"https://github.com/BL0CK-X/theblockchainapi-dart-wrapper\"\
    \ target = \"_blank\">Dart</a>\n\nIf you would like a different language as well,\
    \ submit an issue <a href=\"https://github.com/BL0CK-X/theblockchainapi-wrappers/issues/new\"\
    \ target=\"_blank\">here</a>.\n\nIf you run into any bugs with the wrappers, submit\
    \ an issue <a href=\"https://github.com/BL0CK-X/theblockchainapi-wrappers/issues/new\"\
    \ target=\"_blank\">here</a>."
  title: The Blockchain API
  version: "null"
servers:
- url: https://api.blockchainapi.com/v1
tags:
- description: |
    Functions for using wallets, supported across several chains.
  name: Wallet
- description: |
    Functions for interacting with transactions, supported across several chains.
  name: Transaction
- description: |
    Functions for interacting with name services.
  name: Name Service
- description: |
    Functions for interacting with tokens.
  name: Token
- description: |
    The results of any asynchronous tasks that have been launched. You can poll this endpoint to see when tasks have completed.
  name: Tasks
- description: |
    A wallet consists of two things: a public key and a secret recovery phrase pair. To create a wallet, you must first create a secret recovery phrase. Then, you can generate many public keys from a secret recovery phrase.
  name: Solana Wallet
- description: |
    Easily create a Solana NFT and see related fees for creating an NFT.
  name: Solana NFT
- description: |
    Interact with the Metaplex Candy Machine smart contract on Solana.
  name: Solana Candy Machine
- description: |
    Interact with Solana accounts.
  name: Solana Account
- description: |
    Work with Solana transactions.
  name: Solana Transaction
- description: |
    Accept one-time and recurring payments with CryptoCheckout.
    We currently use our own product to accept crypto payments. You can view our acceptance page [here](https://checkout.blockchainapi.com/project/project_z5SY1HpZWENEluvnxOee/product/product_VJBYSkISQbDfquZ). You can easily set this up with our API. We have a frontend interface coming soon.
  name: CC Project
- description: |
    A product represents a specific product or service that your project/company is selling. You can create various prices for this products by creating plans.
  name: CC Product
- description: |
    A plan consists of a price (in USDC only at the moment) and a recurring frequency (e.g., every 6 hours or 1 month). For one-time payments, do not supply a value for `period`.
  name: CC Plan
- description: |
    A payment represents a payment in crypto for your product made by a user.
  name: CC Payment
- description: |
    A webhook is a request sent to your server to notify you of a new payment. When you receive the webhook, you can allow access to your product or service to the customer who paid you.
  name: CC Webhook
- description: |
    Create a project. A project is a mini-API that you can deploy super easily with our API. Even better, when other users use it, you make money! A complete example and walkthrough of the program can be found [here](https://github.com/BL0CK-X/api-developer-program).
  name: Project
- description: |
    Create an endpoint
  name: Endpoint
paths:
  /{blockchain}/wallet/generate/secret_recovery_phrase:
    post:
      description: "<a href=\"https://github.com/BL0CK-X/blockchain-api/tree/main/examples/wallet/generate-secret-phrase\"\
        \ target=\"_blank\">See examples (Python, JavaScript)</a>.\n\nUse this endpoint\
        \ to securely and randomly generate a seed phrase for a wallet. \n\n`Cost:\
        \ 0 Credit` (Free) (<a href=\"#section/Pricing\">See Pricing</a>)"
      operationId: generateSeedPhrase
      parameters:
      - description: |
          The blockchain you want to use
        explode: false
        in: path
        name: blockchain
        required: true
        schema:
          enum:
          - avalanche
          - binance_smart_chain
          - ethereum
          - near
          - solana
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateSeedPhraseRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralSecretPhrase'
          description: Successful Response
        "400":
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Generate seed phrase
      tags:
      - Wallet
  /{blockchain}/wallet/generate/private_key:
    post:
      description: "<a href=\"https://github.com/BL0CK-X/blockchain-api/tree/main/examples/wallet/generate-private-key\"\
        \ target=\"_blank\">See examples (Python, JavaScript)</a>.\n\nUse this endpoint\
        \ to securely and randomly generate a private key for a wallet. \n\n`Cost:\
        \ 0 Credit` (Free) (<a href=\"#section/Pricing\">See Pricing</a>)"
      operationId: generatePrivateKey
      parameters:
      - description: |
          The blockchain you want to use
        explode: false
        in: path
        name: blockchain
        required: true
        schema:
          enum:
          - avalanche
          - binance_smart_chain
          - ethereum
          - near
          - solana
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralGeneratePrivateKeyResponse'
          description: Successful Response
        "400":
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Generate private key
      tags:
      - Wallet
  /{blockchain}/wallet/private_key:
    post:
      description: "<a href=\"https://github.com/BL0CK-X/blockchain-api/tree/main/examples/wallet/derive-private-key\"\
        \ target=\"_blank\">See examples (Python, JavaScript)</a>.\n\nUse this endpoint\
        \ to securely derive a private key for a wallet. \n\nFor example, if you have\
        \ a seed phrase and want to derive the corresponding private key, use this\
        \ endpoint.\n\n`Cost: 0 Credit` (Free) (<a href=\"#section/Pricing\">See Pricing</a>)"
      operationId: derivePrivateKey
      parameters:
      - description: |
          The blockchain you want to use
        explode: false
        in: path
        name: blockchain
        required: true
        schema:
          enum:
          - avalanche
          - binance_smart_chain
          - ethereum
          - near
          - solana
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplyWalletRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralGeneratePrivateKeyResponse'
          description: Successful Response
        "400":
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Derive private key
      tags:
      - Wallet
  /{blockchain}/wallet/identifier:
    post:
      description: |-
        <a href="https://github.com/BL0CK-X/blockchain-api/tree/main/examples/wallet/derive-wallet-identifier" target="_blank">See examples (Python, JavaScript)</a>.

        Derive the identifier for a wallet.

        `Cost: 0 Credit` (Free) (<a href="#section/Pricing">See Pricing</a>)
      operationId: deriveWalletIdentifier
      parameters:
      - description: |
          The blockchain you want to use
        explode: false
        in: path
        name: blockchain
        required: true
        schema:
          enum:
          - avalanche
          - binance_smart_chain
          - ethereum
          - near
          - solana
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplyWalletRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletIdentifiers'
          description: Successful Response
        "400":
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Derive wallet identifier
      tags:
      - Wallet
  /{blockchain}/wallet/balance:
    post:
      description: "<a href=\"https://github.com/BL0CK-X/blockchain-api/tree/main/examples/wallet/get-wallet-balance\"\
        \ target=\"_blank\">See examples (Python, JavaScript)</a>.\n    \nSee the\
        \ balance of a wallet in the native blockchain currency (e.g., ETH, SOL) or\
        \ any token (e.g., ERC-20, NFTs, SPL, etc.).\n\nTo get the balance of a specific\
        \ token, supply the `token_blockchain_identifier` of the token. \n\nYou can\
        \ also use this endpoint to see whether or not a person owns an NFT. Just\
        \ supply the `token_blockchain_identifier` of the NFT. A balance of \"1\"\
        \ means the person owns the NFT, and a balance of \"0\" means the person does\
        \ not own the NFT.\n\n`Cost: 0.25 Credit` (<a href=\"#section/Pricing\">See\
        \ Pricing</a>)"
      operationId: getBalance
      parameters:
      - description: |
          The blockchain you want to use
        explode: false
        in: path
        name: blockchain
        required: true
        schema:
          enum:
          - ethereum
          - solana
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeneralBalanceRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralBalanceResponse'
          description: Successful Response
        "400":
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Get wallet's balance of X
      tags:
      - Wallet
  /{blockchain}/wallet/airdrop:
    post:
      description: "<a href=\"https://github.com/BL0CK-X/blockchain-api/tree/main/examples/wallet/get-airdrop\"\
        \ target=\"_blank\">See examples (Python, JavaScript)</a>.\n    \n- Ethereum:\
        \ Receive an airdrop of 0.001 ETH on Ropsten (not real ETH). \n- Solana: Use\
        \ this endpoint to get an airdrop of SOL on the devnet (not real SOL). Amount\
        \ of 0.015, which is the minimum amount of SOL you need to mint an NFT and\
        \ then transfer it to another wallet.\n\n`Cost: 0 Credit` (Free) (<a href=\"\
        #section/Pricing\">See Pricing</a>)"
      operationId: getAirdrop
      parameters:
      - description: |
          The blockchain you want to use
        explode: false
        in: path
        name: blockchain
        required: true
        schema:
          enum:
          - ethereum
          - solana
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeneralAirdropRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralTransactionMadeResponse'
          description: Successful Response
        "400":
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Get an airdrop
      tags:
      - Wallet
  /{blockchain}/wallet/transfer:
    post:
      description: "<a href=\"https://github.com/BL0CK-X/blockchain-api/tree/main/examples/wallet/transfer-crypto-token-or-nft\"\
        \ target=\"_blank\">See transfer ETH/SOL/crypto example (Python, JavaScript)</a>.\n\
        \n<a href=\"https://github.com/BL0CK-X/blockchain-api/tree/main/examples/wallet/transfer-crypto-token-or-nft\"\
        \ target=\"_blank\">See transfer NFT/token example (Python, JavaScript)</a>.\n\
        \nThis is a powerful function. It might be slightly confusing because there\
        \ are several optional parameters, so take some time to review it. \n\nThis\
        \ function can send\n- The native currency of the selected blockchain (e.g.,\
        \ SOL, ETH, BNB, etc.)\n- A token (e.g., an SPL token, ERC-20 token, etc.)\n\
        - An NFT\n\nYou can sign and submit the transaction for confirmation; and\
        \ you can select to simply return the compiled transaction so that you can\
        \ submit it to the user for signing (e.g., via Phantom or Metamask; no private\
        \ keys required in this case).\n\nIf you're transferring an NFT or a token,\
        \ supply its respective `token_blockchain_identifier`.\n\nSENDER: Note that\
        \ the wallet information is used to authorize the sending of the tokens and\
        \ identifies the source of the tokens. If `return_compiled_transaction = false`,\
        \ we sign and submit the transaction (`wallet` is required in this case; do\
        \ not provide a value for `sender_blockchain_identifier`). If `return_compiled_transaction\
        \ = true`, we compile the transaction (`sender_blockchain_identifier` is required\
        \ in this case; do not provide `wallet`).\n\nRECIPIENT: `recipient_blockchain_identifier`\
        \ identifies the receiver. This is entirely separate from the information\
        \ used for the SENDER above. So, in this API call, there are two wallets involved,\
        \ but only one (namely, the SENDER) is needed to authorize the transaction\
        \ (if you want us to sign and submitting it).\n\nFEE_PAYER (Solana only):\
        \ The fee payer of the transaction defaults to `wallet` (or `sender_blockchain_identifier`).\
        \ To set a different fee payer, provide a value for `fee_payer_wallet`.\n\n\
        `Cost: 2 Credit` (<a href=\"#section/Pricing\">See Pricing</a>)"
      operationId: transfer
      parameters:
      - description: |
          The blockchain you want to use
        explode: false
        in: path
        name: blockchain
        required: true
        schema:
          enum:
          - ethereum
          - solana
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeneralTransferRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralTransactionResponse'
          description: Successful Response
        "400":
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Transfer crypto, a token, or an NFT to another wallet
      tags:
      - Wallet
  /{blockchain}/transaction/{network}/{transaction_blockchain_identifier}:
    get:
      description: "<a href=\"https://github.com/BL0CK-X/blockchain-api/tree/main/examples/transaction/get-transaction\"\
        \ target=\"_blank\">See examples (Python, JavaScript)</a>.\n    \nGet the\
        \ details of a transaction made on the specified blockchain.\n\n`Cost: 0.25\
        \ Credit` (<a href=\"#section/Pricing\">See Pricing</a>)"
      operationId: getTransaction
      parameters:
      - description: |
          The blockchain you want to use
        explode: false
        in: path
        name: blockchain
        required: true
        schema:
          enum:
          - ethereum
          - solana
          type: string
        style: simple
      - description: |-
          The network of the blockchain you selected

          - Solana: `devnet`, `mainnet-beta`
          - Ethereum: `ropsten`, `mainnet`

          Defaults when not provided (not applicable to path parameters):
          - Solana: `devnet`
          - Ethereum: `ropsten`
        example: ropsten
        explode: false
        in: path
        name: network
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          The transaction signature of the transaction.

          Examples:
          - Solana: `5wHu1qwD7q5ifaN5nwdcDqNFo53GJqa7nLp2BeeEpcHCusb4GzARz4GjgzsEHMkBMgCJMGa6GSQ1VG96Exv8kt2W`
          - Ethereum: `0x5f36b787daa57bfe8568d69e24eae54ccb00720c6edfc826bd4a7b19c525eef4`
        example: 0x5f36b787daa57bfe8568d69e24eae54ccb00720c6edfc826bd4a7b19c525eef4
        explode: false
        in: path
        name: transaction_blockchain_identifier
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralTransaction'
          description: Transaction found. Details in response. Click "Expand All"
            in the documentation sidebar to the right to view an example.
        "400":
          description: Invalid input or issue retrieving transaction. See response
            for details
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
        "404":
          description: Task not found.
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Get the details of a transaction made on a blockchain
      tags:
      - Transaction
  /{blockchain}/{network}/name_service/name_to_blockchain_identifier:
    post:
      description: "<a href=\"https://github.com/BL0CK-X/blockchain-api/tree/main/examples/name-service/name-to-blockchain-identifier\"\
        \ target=\"_blank\">See examples (Python, JavaScript) [Coming Soon]</a>.\n\
        \    \nGet the blockchain identifier from a name.\n\ne.g., Input `vitalik.eth`\
        \ and output `0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045`\n\n`Cost: 0.25 Credit`\
        \ (<a href=\"#section/Pricing\">See Pricing</a>)"
      operationId: getBlockchainIdentifierFromName
      parameters:
      - description: |
          The blockchain you want to use
        explode: false
        in: path
        name: blockchain
        required: true
        schema:
          enum:
          - ethereum
          - solana
          type: string
        style: simple
      - description: |-
          The network of the blockchain you selected

          - Solana: `devnet`, `mainnet-beta`
          - Ethereum: `ropsten`, `mainnet`

          Defaults when not provided (not applicable to path parameters):
          - Solana: `devnet`
          - Ethereum: `ropsten`
        example: ropsten
        explode: false
        in: path
        name: network
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InputName'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InputBlockchainIdentifier'
          description: Successful Response
        "400":
          description: Invalid input or issue retrieving transaction. See response
            for details
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
        "404":
          description: Task not found.
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Get the identifier
      tags:
      - Name Service
  /{blockchain}/{network}/name_service/blockchain_identifier_to_name:
    post:
      description: "<a href=\"https://github.com/BL0CK-X/blockchain-api/tree/main/examples/name-service/blockchain-identifier-to-name\"\
        \ target=\"_blank\">See examples (Python, JavaScript) [Coming Soon]</a>.\n\
        \    \nGet the name from a blockchain identifier.\n\ne.g., Input `0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045`\
        \ and output `vitalik.eth`\n\n`Cost: 0.25 Credit` (<a href=\"#section/Pricing\"\
        >See Pricing</a>)"
      operationId: getNameForBlockchainIdentifier
      parameters:
      - description: |
          The blockchain you want to use
        explode: false
        in: path
        name: blockchain
        required: true
        schema:
          enum:
          - ethereum
          - solana
          type: string
        style: simple
      - description: |-
          The network of the blockchain you selected

          - Solana: `devnet`, `mainnet-beta`
          - Ethereum: `ropsten`, `mainnet`

          Defaults when not provided (not applicable to path parameters):
          - Solana: `devnet`
          - Ethereum: `ropsten`
        example: ropsten
        explode: false
        in: path
        name: network
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InputBlockchainIdentifier'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InputName'
          description: Successful Response
        "400":
          description: Invalid input or issue retrieving transaction. See response
            for details
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
        "404":
          description: Task not found.
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Get the name
      tags:
      - Name Service
  /{blockchain}/{network}/token/{token_blockchain_identifier}:
    get:
      description: "<a href=\"https://github.com/BL0CK-X/blockchain-api/tree/main/examples/tokens/get-token-metadata\"\
        \ target=\"_blank\">See examples (Python, JavaScript) [Coming Soon]</a>.\n\
        \    \nGet the metadata of a token.\n\n`Cost: 0.25 Credit` (<a href=\"#section/Pricing\"\
        >See Pricing</a>)"
      operationId: getTokenMetadata
      parameters:
      - description: |
          The blockchain you want to use
        explode: false
        in: path
        name: blockchain
        required: true
        schema:
          enum:
          - ethereum
          - solana
          type: string
        style: simple
      - description: |-
          The network of the blockchain you selected

          - Solana: `devnet`, `mainnet-beta`
          - Ethereum: `ropsten`, `mainnet`

          Defaults when not provided (not applicable to path parameters):
          - Solana: `devnet`
          - Ethereum: `ropsten`
        example: ropsten
        explode: false
        in: path
        name: network
        required: true
        schema:
          type: string
        style: simple
      - description: |
          The identifier of the token (e.g., `mint_address` on `Solana` or `token_address` on `Ethereum`)
        explode: false
        in: path
        name: token_blockchain_identifier
        required: true
        schema:
          enum:
          - ethereum
          - solana
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenMetadataResponse'
          description: Successful Response
        "400":
          description: Invalid input or issue retrieving transaction. See response
            for details
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
        "404":
          description: Task not found.
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Get a token's metadata
      tags:
      - Token
  /{blockchain}/{network}/all_tokens:
    get:
      description: "<a href=\"https://github.com/BL0CK-X/blockchain-api/tree/main/examples/tokens/get-all-tokens\"\
        \ target=\"_blank\">See examples (Python, JavaScript) [Coming Soon]</a>.\n\
        \    \nList all tokens.\n\n`Cost: 1 Credit` (<a href=\"#section/Pricing\"\
        >See Pricing</a>)"
      operationId: listAllTokens
      parameters:
      - description: |
          The blockchain you want to use
        explode: false
        in: path
        name: blockchain
        required: true
        schema:
          enum:
          - solana
          type: string
        style: simple
      - description: |-
          The network of the blockchain you selected

          - Solana: `devnet`, `mainnet-beta`
          - Ethereum: `ropsten`, `mainnet`

          Defaults when not provided (not applicable to path parameters):
          - Solana: `devnet`
          - Ethereum: `ropsten`
        example: ropsten
        explode: false
        in: path
        name: network
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TokenMetadataResponse'
                type: array
          description: Successful Response
        "400":
          description: Invalid input or issue retrieving transaction. See response
            for details
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
        "404":
          description: Task not found.
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: List all tokens
      tags:
      - Token
  /solana/account/{network}/{public_key}:
    get:
      description: "<a href=\"https://github.com/BL0CK-X/the-blockchain-api/tree/main/examples/solana-account/get-account\"\
        \ target=\"_blank\">See examples (Python, JavaScript)</a>.\n    \nGet the\
        \ details of an account on Solana. Learn more about accounts <a href=\"https://docs.solana.com/developing/programming-model/accounts\"\
        \ target=\"_blank\">here</a>.\n\n`Cost: 0.25 Credit` (<a href=\"#section/Pricing\"\
        >See Pricing</a>)"
      operationId: solanaGetAccount
      parameters:
      - description: The network ID (devnet, mainnet-beta)
        example: mainnet-beta
        explode: false
        in: path
        name: network
        required: true
        schema:
          type: string
        style: simple
      - description: The public key of the account
        example: EEr5yQpNXf7Bru6Rt5podx56HGW9CEehXqgRGh2wa71w
        explode: false
        in: path
        name: public_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: Account found. Details in response.
        "400":
          description: Invalid input or issue retrieving transaction. See response
            for details
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
        "404":
          description: Task not found.
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Get the details of an account on Solana
      tags:
      - Solana Account
  /solana/account/{network}/{public_key}/is_nft:
    get:
      description: "<a href=\"https://github.com/BL0CK-X/the-blockchain-api/tree/main/examples/solana-account/get-is-nft\"\
        \ target=\"_blank\">See examples (Python, JavaScript)</a>.\n    \nDetermine\
        \ whether or not a public key is an NFT `mint address`\n\n`Cost: 0.5 Credit`\
        \ (<a href=\"#section/Pricing\">See Pricing</a>)"
      operationId: solanaGetAccountIsNFT
      parameters:
      - description: The network ID (devnet, mainnet-beta)
        example: mainnet-beta
        explode: false
        in: path
        name: network
        required: true
        schema:
          type: string
        style: simple
      - description: The public key of the account
        example: EEr5yQpNXf7Bru6Rt5podx56HGW9CEehXqgRGh2wa71w
        explode: false
        in: path
        name: public_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountIsNFT'
          description: Successful response
        "400":
          description: Invalid input or issue retrieving transaction. See response
            for details
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
        "404":
          description: Task not found.
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Get if account is NFT
      tags:
      - Solana Account
  /solana/account/{network}/{public_key}/is_candy_machine:
    get:
      description: "<a href=\"https://github.com/BL0CK-X/the-blockchain-api/tree/main/examples/solana-account/get-is-candy-machine\"\
        \ target=\"_blank\">See examples (Python, JavaScript)</a>.\n    \nDetermine\
        \ whether or not a public key address corresponds to a candy machine ID or\
        \ candy machine configuration.\n\n`Cost: 1 Credit` (<a href=\"#section/Pricing\"\
        >See Pricing</a>)"
      operationId: solanaGetAccountIsCandyMachine
      parameters:
      - description: The network ID (devnet, mainnet-beta)
        example: mainnet-beta
        explode: false
        in: path
        name: network
        required: true
        schema:
          type: string
        style: simple
      - description: The public key of the account
        example: EEr5yQpNXf7Bru6Rt5podx56HGW9CEehXqgRGh2wa71w
        explode: false
        in: path
        name: public_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountIsCandyMachine'
          description: Successful response
        "400":
          description: Invalid input or issue retrieving transaction. See response
            for details
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
        "404":
          description: Task not found.
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Get if account is candy machine
      tags:
      - Solana Account
  /solana/spl-token/{network}/{public_key}:
    get:
      description: |-
        <a href="https://github.com/BL0CK-X/the-blockchain-api/tree/main/examples/solana-spl-token/get-spl-token" target="_blank">See examples (Python, JavaScript)</a>.

        Retrieves basic information about an SPL token given its `mint_address`.

        You can see the mint addresses of popular SPL tokens <a href="https://raw.githubusercontent.com/solana-labs/token-list/main/src/tokens/solana.tokenlist.json" target="_blank">here</a>.

        Some example mint addresses of SPL tokens:
        - USDC: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
        - Mango: MangoCzJ36AjZyKwVj3VnYU4GTonjfVEnJmvvWaxLac
        - Serum: SRMuApVNdxXokk5GT7XD5cUUgXMBCoAz2LHeuAoKWRt
        - Raydium: 4k3Dyjzvzp8eMZWUXbBCjEvwSkkk59S5iCNLY3QrkX6R
        - wSOL: So11111111111111111111111111111111111111112
        - ATLAS: ATLASXmbPQxBUYbxPsV97usA3fPQYEqzQBUHgiFCUsXx

        `Cost: 1 Credit` (<a href="#section/Pricing">See Pricing</a>)
      operationId: solanaGetSPLToken
      parameters:
      - description: The public key of the token
        example: MangoCzJ36AjZyKwVj3VnYU4GTonjfVEnJmvvWaxLac
        explode: false
        in: path
        name: public_key
        required: true
        schema:
          type: string
        style: simple
      - description: The network ID (devnet, mainnet-beta)
        example: mainnet-beta
        explode: false
        in: path
        name: network
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSPLTokenResponse'
          description: Successful Response
        "400":
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
        "404":
          description: Account not found / not initialized with this public key address.
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Get SPL token metadata
      tags:
      - Solana SPL Token
  /solana/transaction/{network}/{tx_signature}:
    get:
      description: "<a href=\"https://github.com/BL0CK-X/the-blockchain-api/tree/main/examples/solana-transaction/get-transaction\"\
        \ target=\"_blank\">See examples (Python, JavaScript)</a>.\n    \nGet the\
        \ details of a transaction made on Solana.\n\n`Cost: 0.25 Credit` (<a href=\"\
        #section/Pricing\">See Pricing</a>)"
      operationId: solanaGetTransaction
      parameters:
      - description: The network ID (devnet, mainnet-beta)
        example: mainnet-beta
        explode: false
        in: path
        name: network
        required: true
        schema:
          type: string
        style: simple
      - description: The transaction signature of the transaction
        example: 5wHu1qwD7q5ifaN5nwdcDqNFo53GJqa7nLp2BeeEpcHCusb4GzARz4GjgzsEHMkBMgCJMGa6GSQ1VG96Exv8kt2W
        explode: false
        in: path
        name: tx_signature
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
          description: Transaction found. Details in response. Click "Expand All"
            in the documentation sidebar to the right to view an example.
        "400":
          description: Invalid input or issue retrieving transaction. See response
            for details
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
        "404":
          description: Task not found.
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Get the details of a transaction made on Solana
      tags:
      - Solana Transaction
  /solana/wallet/generate/secret_recovery_phrase:
    post:
      description: "<a href=\"https://github.com/BL0CK-X/the-blockchain-api/tree/main/examples/solana-wallet/generate-secret-phrase\"\
        \ target=\"_blank\">See examples (Python, JavaScript)</a>.\n\nUse this endpoint\
        \ to securely and randomly generate a secret recovery phrase for a Solana\
        \ wallet. \n\n`Cost: 0 Credit` (Free) (<a href=\"#section/Pricing\">See Pricing</a>)"
      operationId: solanaGenerateSecretRecoveryPhrase
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretPhrase'
          description: Successful Response
        "400":
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Generate secret phrase
      tags:
      - Solana Wallet
  /solana/wallet/generate/private_key:
    post:
      description: |-
        <a href="https://github.com/BL0CK-X/the-blockchain-api/tree/main/examples/solana-wallet/generate-private-key" target="_blank">See examples (Python, JavaScript)</a>.

        Use this endpoint to securely and randomly generate a private key for a Solana wallet.

        `Cost: 0 Credit` (Free) (<a href="#section/Pricing">See Pricing</a>)
      operationId: solanaGeneratePrivateKey
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratePrivateKey'
          description: Successful Response
        "400":
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Generate private key
      tags:
      - Solana Wallet
  /solana/wallet/private_key:
    post:
      description: "<a href=\"https://github.com/BL0CK-X/the-blockchain-api/tree/main/examples/solana-wallet/derive-private-key\"\
        \ target=\"_blank\">See examples (Python, JavaScript)</a>.\n    \nReturns\
        \ a private key array and a base58-encoded private key given wallet authentication.\n\
        \nA wallet is defined by a public key. A public key is derived from a combination\
        \ of seed phrase, derivation path, and passphrase. Changing any *one* of these\
        \ three will change the public key output.\n\n*You can generate a unique public\
        \ key with each combination of secret recovery phrase, passphrase, and derivation\
        \ path. Thus,\nwith a single secret recovery phrase, you can generate many\
        \ public keys. If you are just starting, just supply the secret recovery phrase\
        \ you generated with the Solana Wallet Secret Recovery Phrase endpoint.*\n\
        \n*If you are trying to get a public key that already exists (e.g., created\
        \ in the Phantom wallet), make sure you use the correct derivation path and\
        \ passphrase. To read more about that, see the descriptions of those parameters\
        \ below.*\n\n`Cost: 0 Credit` (Free) (<a href=\"#section/Pricing\">See Pricing</a>)"
      operationId: solanaDerivePrivateKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPublicKeyRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratePrivateKey'
          description: Successful Response
        "400":
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Derive private key
      tags:
      - Solana Wallet
  /solana/wallet/public_key:
    post:
      description: "<a href=\"https://github.com/BL0CK-X/the-blockchain-api/tree/main/examples/solana-wallet/derive-public-key\"\
        \ target=\"_blank\">See examples (Python, JavaScript)</a>.\n    \nReturns\
        \ a public key given wallet authentication.\n\nA wallet is identified by a\
        \ public key. A public key is derived from a combination of seed phrase, derivation\
        \ path, and passphrase. Changing any *one* of these three will change the\
        \ public key output. \n\nIt can also be derived from a private key.\n\n*You\
        \ can generate a unique public key with each combination of secret recovery\
        \ phrase, passphrase, and derivation path; or from a private key. Thus,\n\
        with a single secret recovery phrase, you can generate many public keys; however,\
        \ with a private key, you can only generate one public key. If you are just\
        \ starting, generate a <a href=\"#operation/solanaGenerateSecretRecoveryPhrase\"\
        >secret recovery phrase</a> or <a href=\"#operation/solanaGeneratePrivateKey\"\
        >private key</a>.\n\n*If you are trying to get a public key that already exists\
        \ (e.g., created in the Phantom wallet), make sure you use the correct derivation\
        \ path and passphrase; or just use the private key. To read more about that,\
        \ see the descriptions of those parameters below.*\n\n`Cost: 0 Credit` (Free)\
        \ (<a href=\"#section/Pricing\">See Pricing</a>)"
      operationId: solanaDerivePublicKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPublicKeyRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicKey'
          description: Successful Response
        "400":
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Derive public key
      tags:
      - Solana Wallet
  /solana/wallet/transfer:
    post:
      description: |-
        <a href="https://github.com/BL0CK-X/the-blockchain-api/tree/main/examples/solana-wallet/transfer-sol" target="_blank">See transfer SOL example (Python, JavaScript)</a>.

        <a href="https://github.com/BL0CK-X/the-blockchain-api/tree/main/examples/solana-wallet/transfer-nft" target="_blank">See transfer NFT example (can also be used for SPL token) (Python, JavaScript)</a>.

        This is a powerful function. It might be slightly confusing because there are several optional parameters, so take some time to review it. This function can send SOL, send an SPL token, or send an NFT. You can set the fee payer of the transaction; you can sign and submit the transaction for confirmation; and you can select to simply return the compiled transaction so that you can submit it to the user for signing (e.g., via Phantom; no private keys required in this case).

        Transfer SOL, a token or an NFT to another address. If you're transferring an NFT, supply the `mint` (the address of the mint) for the `token_address`.

        SENDER: Note that the wallet information is used to authorize the sending of the tokens and identifies the source of the tokens. If `return_compiled_transaction = false`, we sign and submit the transaction (`wallet` is required in this case; do not provide a value for `sender_public_key`). If `return_compiled_transaction = true`, we compile the transaction (one of `wallet` or `sender_public_key` is required in this case; do not provide both).

        RECIPIENT: `recipient_address` identifies the receiver. This is entirely separate from the information used for the SENDER above. So, in this API call, there are two wallets involved, but only one (namely, the SENDER) is needed to authorize the transaction.

        FEE_PAYER: The fee payer of the transaction defaults to `wallet` (or `sender_public_key`). To set a different fee payer, provide a value for `fee_payer_wallet`.

        If you're transfering a token, supply the token address found on the explorer (e.g., see `SRMuApVNdxXokk5GT7XD5cUUgXMBCoAz2LHeuAoKWRt` for <a href="https://explorer.solana.com/address/SRMuApVNdxXokk5GT7XD5cUUgXMBCoAz2LHeuAoKWRt" target="_blank">Serum Token</a>) for the `token_address`. If you're transferring SOL, do not supply a value for `token_address`.

        `Cost: 2 Credit` (<a href="#section/Pricing">See Pricing</a>)
      operationId: solanaTransfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DoubleTransferResponse'
          description: Successful Response
        "400":
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Transfer SOL, a token, or an NFT to another address
      tags:
      - Solana Wallet
  /solana/wallet/{public_key}/associated_token_account/{mint_address}:
    get:
      description: "<a href=\"https://github.com/BL0CK-X/the-blockchain-api/tree/main/examples/solana-wallet/derive-associated-token-account-address\"\
        \ target=\"_blank\">See example (Python, JavaScript)</a>.\n    \n*Each wallet\
        \ can own tokens, but in Solana, each token is actually held by an <a href=\"\
        https://spl.solana.com/associated-token-account\" target=\"_blank\">associated\
        \ token account</a> (ATA), which is an account specific for a token owned\
        \ by the wallet. When you transfer an SPL token, such as Serum, or transfer\
        \ an NFT, you're transfering from an ATA you own to another person's ATA for\
        \ that specific token. With this endpoint, you can derive an associated token\
        \ address given a wallet and a token address.*\n\n`Cost: 0 Credit` (Free)\
        \ (<a href=\"#section/Pricing\">See Pricing</a>)"
      operationId: solanaDeriveAssociatedTokenAccountAddress
      parameters:
      - description: The public key of the wallet
        example: 31LKs39pjT5oj6fWjC3F76dHWf9489asCthmgj8wu7pj
        explode: false
        in: path
        name: public_key
        required: true
        schema:
          type: string
        style: simple
      - description: The mint address of the token (either SPL or NFT)
        example: 7EWJNaNYfPYMaqzdAAa4ps5kpqW95B7VHsjhW1kr18sj
        explode: false
        in: path
        name: mint_address
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ATAResponse'
          description: Successful Response
        "400":
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Derive an associated token account address
      tags:
      - Solana Wallet
  /solana/wallet/airdrop:
    post:
      description: "<a href=\"https://github.com/BL0CK-X/the-blockchain-api/tree/main/examples/solana-wallet/get-airdrop\"\
        \ target=\"_blank\">See examples (Python, JavaScript)</a>.\n    \nUse this\
        \ endpoint to get an airdrop of SOL on the devnet (not real SOL). Amount of\
        \ 0.015, \nwhich is the minimum amount of SOL you need to mint a Metaplex\
        \ NFT and then transfer it to another wallet.\n\n`Cost: 0 Credit` (Free) (<a\
        \ href=\"#section/Pricing\">See Pricing</a>)"
      operationId: solanaGetAirdrop
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AirdropRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferResponse'
          description: Successful Response
        "400":
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Get an airdrop on devnet
      tags:
      - Solana Wallet
  /solana/wallet/balance:
    post:
      description: "<a href=\"https://github.com/BL0CK-X/the-blockchain-api/tree/main/examples/solana-wallet/get-wallet-balance\"\
        \ target=\"_blank\">See examples (Python, JavaScript)</a>.\n    \nSee the\
        \ balance of a wallet in SOL or any SPL token.\n\nTo get the balance of an\
        \ SPL token, supply the `mint_address` of the SPL token. The list of SPL tokens\
        \ can be viewed <a href=\"https://raw.githubusercontent.com/solana-labs/token-list/main/src/tokens/solana.tokenlist.json\"\
        \ target=\"_blank\">here</a>.\n\nYou can also use this endpoint to see whether\
        \ or not a person owns an NFT. Just supply the `mint_address` of the NFT.\
        \ A balance of \"1\" means the person owns the NFT, and a balance of \"0\"\
        \ means the person does not own the NFT. This works in most cases, but we\
        \ are aware of one edge case where a balance of \"0\" will show up for a person\
        \ who is actually the owner of the NFT. We just recommend using the <a href=\"\
        #operation/solanaGetNFTOwner\">getNFTOwner</a> endpoint and comparing that\
        \ output to the expected address.\n\n`Cost: 0.25 Credit` (<a href=\"#section/Pricing\"\
        >See Pricing</a>)"
      operationId: solanaGetBalance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BalanceRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
          description: Successful Response
        "400":
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Get wallet's balance in SOL or any SPL
      tags:
      - Solana Wallet
  /solana/wallet/{network}/{public_key}/tokens:
    get:
      description: "<a href=\"https://github.com/BL0CK-X/the-blockchain-api/tree/main/examples/solana-wallet/get-wallet-token-holdings\"\
        \ target=\"_blank\">See examples (Python, JavaScript)</a>.\n    \nSee the\
        \ token holdings of a given public key address\n\n`Cost: 2 Credits` (<a href=\"\
        #section/Pricing\">See Pricing</a>)"
      operationId: solanaGetTokensBelongingToWallet
      parameters:
      - description: The network ID (devnet, mainnet-beta)
        example: mainnet-beta
        explode: false
        in: path
        name: network
        required: true
        schema:
          type: string
        style: simple
      - description: The public key of the account whose list of owned NFTs you want
          to get
        example: GKNcUmNacSJo4S2Kq3DuYRYRGw3sNUfJ4tyqd198t6vQ
        explode: false
        in: path
        name: public_key
        required: true
        schema:
          type: string
        style: simple
      - description: Whether or not to include NFTs in the response
        example: false
        explode: true
        in: query
        name: include_nfts
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Whether or not to include holdings that have zero balance. This
          indicates that the wallet held this token or NFT in the past, but no longer
          holds it.
        example: false
        explode: true
        in: query
        name: include_zero_balance_holdings
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTokensResponse'
          description: Successful Response
        "400":
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Get address's tokens and respective balances
      tags:
      - Solana Wallet
  /solana/wallet/{network}/{public_key}/transactions:
    get:
      description: "<a href=\"https://github.com/BL0CK-X/blockchain-api/tree/main/examples/solana-wallet/get-wallet-transactions\"\
        \ target=\"_blank\">See examples (Python, JavaScript)</a>.\n    \nSee the\
        \ transaction signatures of a given public key address\n\n`Cost: 1 Credits`\
        \ (<a href=\"#section/Pricing\">See Pricing</a>)"
      operationId: solanaGetWalletTransactions
      parameters:
      - description: The network ID (devnet, mainnet-beta)
        example: mainnet-beta
        explode: false
        in: path
        name: network
        required: true
        schema:
          type: string
        style: simple
      - description: The public key of the account whose list of signatures you want
          to get
        example: GKNcUmNacSJo4S2Kq3DuYRYRGw3sNUfJ4tyqd198t6vQ
        explode: false
        in: path
        name: public_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTransactionsResponse'
          description: Successful Response
        "400":
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Get address's associated transaction signatures
      tags:
      - Solana Wallet
  /solana/wallet/{network}/{public_key}/nfts:
    get:
      description: "<a href=\"https://github.com/BL0CK-X/the-blockchain-api/tree/main/examples/solana-wallet/get-wallet-nfts\"\
        \ target=\"_blank\">See examples (Python, JavaScript)</a>.\n    \nSee the\
        \ NFTs that belong to a given public key address\n\n`Cost: 3 Credits` (<a\
        \ href=\"#section/Pricing\">See Pricing</a>)"
      operationId: solanaGetNFTsBelongingToWallet
      parameters:
      - description: The network ID (devnet, mainnet-beta)
        example: mainnet-beta
        explode: false
        in: path
        name: network
        required: true
        schema:
          type: string
        style: simple
      - description: The public key of the account whose list of owned NFTs you want
          to get
        example: HE3ZYk4aWfKD7R9EmFQbxjj75JdgHuDztNAsseKVan82
        explode: false
        in: path
        name: public_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNFTsResponse'
          description: Successful Response
        "400":
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Get address's NFTs
      tags:
      - Solana Wallet
  /solana/nft:
    post:
      description: "<a href=\"https://github.com/BL0CK-X/the-blockchain-api/tree/main/examples/solana-nft/create-an-nft\"\
        \ target=\"_blank\">See examples (Python, JavaScript)</a>.\n\nCreate a Metaplex\
        \ NFT on Solana. \n\nRead more on this <a href=\"https://blog.blockchainapi.com/2021/11/16/a-note-on-nfts.html\"\
        \ target=\"_blank\">here</a>.\n\nNote: Please see <a href=\"https://blog.blockchainapi.com/2022/01/18/how-to-format-off-chain-nft-metadata.html\"\
        \ target=\"_blank\">this article</a> to learn more about what `nft_upload_method`\
        \ means and how storing the metadata of an NFT works.\n\nIf you're using `nft_upload_method\
        \ = \"LINK\"`, then to add attributes to the NFT or an image, add them to\
        \ a JSON file and upload that to Arweave/IPFS/Filecoin. See the JSON format\
        \ <a href=\"https://blog.blockchainapi.com/2022/01/18/how-to-format-off-chain-nft-metadata.html\"\
        >here</a>.\n\nThen supply the link to the JSON file in `nft_url`. \n\nNOTE:\
        \ Don't use `nft_metadata`. Values provided here do not do anything at the\
        \ moment. We are fixing this soon.\n\n`Cost: 5 Credits` (<a href=\"#section/Pricing\"\
        >See Pricing</a>)"
      operationId: solanaCreateNFT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NFTMintRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NFT'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NFTMintErrorResponse'
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
        "414":
          description: URI too long (the data you provided was too large [e.g., the
            metadata provided was 500kb])
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Create an NFT on Solana
      tags:
      - Solana NFT
  /solana/nft/search:
    post:
      description: |-
        <a href="https://github.com/BL0CK-X/the-blockchain-api/tree/main/examples/solana-nft/search-nfts" target="_blank">See examples (Python, JavaScript)</a>.

        With this endpoint, you can search for NFTs by their symbol, name of NFTs, uuid, configuration address, and update authority.

        The output is a list of NFTs that match your query.

        You can also provide multiple search clauses, such as the update authority (`update_authority="G17UmNGnMJ851x3M1JXocgpft1afcYedjPuFpo1ohhCk"`) and symbol begins with "Sol" (`symbol="Sol", symbol_search_method='begins_with'`).

        `Cost: 1 Credit` (<a href="#section/Pricing">See Pricing</a>)
      operationId: solanaSearchNFTs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NFTSearchRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NFTSearchResponse'
                type: array
          description: Successful Response
        "400":
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Search NFTs on Solana
      tags:
      - Solana NFT
  /solana/nft/{network}/{mint_address}:
    get:
      description: "<a href=\"https://github.com/BL0CK-X/the-blockchain-api/tree/main/examples/solana-nft/get-nft-metadata\"\
        \ target=\"_blank\">See examples (Python, JavaScript)</a>. \n    \nGet the\
        \ metadata of an NFT.\n\nIf you're looking for metadata such as attributes\
        \ and others, you can retrieve them from the link in the URI field of the\
        \ NFT metadata returned. See the example on the right. The URI is an Arweave\
        \ URL. That contains the attributes and other information about the NFT. That\
        \ URL is stored on the Solana blockchain.\n\n`Cost: 0.25 Credit` (<a href=\"\
        #section/Pricing\">See Pricing</a>)"
      operationId: solanaGetNFT
      parameters:
      - description: The network ID
        example: mainnet-beta
        explode: false
        in: path
        name: network
        required: true
        schema:
          enum:
          - devnet
          - mainnet-beta
          type: string
        style: simple
      - description: The mint address of the NFT
        example: EEr5yQpNXf7Bru6Rt5podx56HGW9CEehXqgRGh2wa71w
        explode: false
        in: path
        name: mint_address
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NFT'
          description: Successful Response
        "400":
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
        "404":
          description: The doesn't exist
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Get an NFT's metadata
      tags:
      - Solana NFT
  /solana/nft/{network}/{mint_address}/owner:
    get:
      description: "<a href=\"https://github.com/BL0CK-X/the-blockchain-api/tree/main/examples/solana-nft/get-nft-owner\"\
        \ target=\"_blank\">See examples (Python, JavaScript)</a>. \n    \nGet the\
        \ owner of an NFT. This returns the public key of the wallet that owns the\
        \ associated token account that owns the NFT.\n\nIf you want to get the associated\
        \ token account that literally owns the NFT, derive the associated token account\
        \ address from the public key returned and the NFT mint address using <a href=\"\
        #operation/solanaDeriveAssociatedTokenAccountAddress\">this endpoint</a>.\n\
        \n`Cost: 0.25 Credit` (<a href=\"#section/Pricing\">See Pricing</a>)"
      operationId: solanaGetNFTOwner
      parameters:
      - description: The network ID
        example: devnet
        explode: false
        in: path
        name: network
        required: true
        schema:
          enum:
          - devnet
          - mainnet-beta
          type: string
        style: simple
      - description: The mint address of the NFT
        example: 4zH3Rwm1QXdfTSUqsYmeUBY4QqQmQEXJVbv4ErSK736Q
        explode: false
        in: path
        name: mint_address
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NFTOwnerResponse'
          description: Successful Response
        "400":
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
        "404":
          description: The doesn't exist
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Get owner of an NFT
      tags:
      - Solana NFT
  /solana/nft/{network}/{mint_address}/owner_advanced:
    get:
      description: "<a href=\"https://github.com/BL0CK-X/the-blockchain-api/tree/main/examples/solana-nft/get-nft-owner\"\
        \ target=\"_blank\">See examples (Python, JavaScript)</a>. \n    \nGet the\
        \ owner, state, listed price, and listed marketplace (if any) of an NFT. \n\
        \nHere's are a couple of example responses:\n```\n{\n    'contract': {\n \
        \       'contract_blockchain_identifier': 'M2mx93ekt1fmXSVkTrUL9xVFHkmME8HTUi5Cyc5aF7K',\
        \ \n        'contract_id': 'magic-eden-v2', \n        'contract_name': 'Magic\
        \ Eden v2', \n        'contract_type': 'marketplace'\n    }, \n    'owner':\
        \ '25UJMR3FiMM6noQtPEaCJ6eDU2YQ7myDhikVQXmMuSRW', \n    'price': 50000000,\
        \ \n    'state': 'listing'\n}\n```\n\n```\n{\n    'contract': null, \n   \
        \ 'owner': 'C37PJiJU8WTgoUoFqmB1Maw8hkuENDZoGDQA1pm54Fdd', \n    'price':\
        \ null, \n    'state': 'holding'\n}\n```\n\nThis function will return whether\
        \ the NFT is `listed`, `loaned` (Yawww NFT loans), `otc`, `staked`, `burned`,\
        \ or `held`.\n\nIf listed, it will return the contract, the readable name\
        \ of the contract (e.g., Magic Eden, OpenSea), the contract ID (if any; e.g.,\
        \ open-sea), the owner, and the listed price. From this, you can get the floor\
        \ of a collection. We currently support Magic Eden (v1, v2), Exchange.Art\
        \ (auction, singles), CoralCube, Solanart (v1, v2), Yawww Loans, Yawww OTC,\
        \ OpenSea, Fractal, SolSea, and AlphaArt. \n\nIf loaned, it will return the\
        \ loan requester as the owner, the loan amount, and the loan contract. We\
        \ only support the Yawww loaning contract.\n\nIf listed on an OTC marketplace,\
        \ it will return the same information as `listed`. OTC is used to distinguish\
        \ between marketplaces that respect royalties (OTC) and those that don't (normal\
        \ ones). The only `OTC` contract we track is Yawwww, at the moment. We do\
        \ not yet track Solanart v3.\n\nIf staked, it will return the owner and the\
        \ staking contract public key.\n\nIf burned, it will return the `burner` as\
        \ the `owner`.\n\nIf held, it will simply return the owner.\n\nIf you want\
        \ to get the literal owner, which may or may not be the same as the owner\
        \ returned here, call the simplified [get NFT owner function](/#tag/Solana-NFT/operation/solanaGetNFTOwner).\
        \ For example, Bob might own the NFT, but if it is listed on Magic Eden, then\
        \ the NFT is held in escrow and \"owned\" by Magic Eden. The simplified function\
        \ will return Magic Eden as the owner (the literal owner). This advanced function\
        \ will tell you the implied owner, which would be Bob.\n\n`Cost: 1.0 Credit`\
        \ (<a href=\"#section/Pricing\">See Pricing</a>)"
      operationId: solanaGetNFTOwnerAdvanced
      parameters:
      - description: The network ID
        example: devnet
        explode: false
        in: path
        name: network
        required: true
        schema:
          enum:
          - devnet
          - mainnet-beta
          type: string
        style: simple
      - description: The mint address of the NFT
        example: 4zH3Rwm1QXdfTSUqsYmeUBY4QqQmQEXJVbv4ErSK736Q
        explode: false
        in: path
        name: mint_address
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NFTOwnerAdvancedResponse'
          description: Successful Response
        "400":
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
        "404":
          description: The doesn't exist
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Get owner of an NFT (advanced)
      tags:
      - Solana NFT
  /solana/nft/mint/fee:
    get:
      description: "<a href=\"https://github.com/BL0CK-X/the-blockchain-api/tree/main/examples/solana-nft/get-nft-mint-fee\"\
        \ target=\"_blank\">See examples (Python, JavaScript)</a>.\n    \nGet the\
        \ estimated fee for minting an NFT on the Solana blockchain using the Metaplex\
        \ protocol.\n\n`Cost: 0 Credit` (Free) (<a href=\"#section/Pricing\">See Pricing</a>)"
      operationId: solanaGetNFTMintFee
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NFTMintFee'
          description: Successful Response
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Get the NFT mint fee
      tags:
      - Solana NFT
  /solana/nft/candy_machine_id:
    post:
      description: |-
        <a href="https://github.com/BL0CK-X/the-blockchain-api/tree/main/examples/solana-nft/get-nft-candy-machine-id" target="_blank">See examples (Python, JavaScript)</a>.

        Get the candy machine ID from where the NFT came, if any. NFTs can also be minted without a candy machine.

        It's also possible that we return "Not Found" when the NFT actually did come from a version of a candy machine. We check for the most popular versions of candy machine, but it is possible that someone creates their own candy machine version and mints NFTs from it.

        `Cost: 1 Credit` (<a href="#section/Pricing">See Pricing</a>)
      operationId: solanaGetNFTsCandyMachineId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCandyMachineIDRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCandyMachineIDResponse'
          description: Successful Response
        "400":
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
        "404":
          description: Not found
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: |
        Get the ID of the candy machine of an NFT
      tags:
      - Solana NFT
  /solana/nft/candy_machine/search:
    post:
      description: |-
        <a href="https://github.com/BL0CK-X/the-blockchain-api/tree/main/examples/solana-candy-machine/search-candy-machines" target="_blank">See examples (Python, JavaScript)</a>.

        With this endpoint, you can search candy machines by their symbol, name of NFTs, uuid, configuration address, and update authority.

        The output is a list of config addresses.

        You can also provide multiple search clauses, such as the update authority (`update_authority="G17UmNGnMJ851x3M1JXocgpft1afcYedjPuFpo1ohhCk"`) and symbol begins with "Sol" (`symbol="Sol", symbol_search_method='begins_with'`).

        `Cost: 2 Credits` (<a href="#section/Pricing">See Pricing</a>)
      operationId: solanaSearchCandyMachines
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CandyMachineSearchRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - 9AYhVG9rH4DwPufEmSD1PD3vs64GhaXWNzXb33jFpByA
                - FmZNv5HqPWEqXHYtKPKe15WF8PuNk1FbJmVMN92dVjNP
                - 6Anxd2Tn7KEEMKpGyBdVWTCp5jpAum8cppgXMJTzp44R
                items:
                  description: The config address of a matching candy machine
                  type: string
                type: array
          description: Successful Response
        "400":
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: Search CMs
      tags:
      - Solana Candy Machine
  /solana/nft/candy_machine/list:
    get:
      description: |-
        <a href="https://github.com/BL0CK-X/the-blockchain-api/tree/main/examples/solana-candy-machine/list-all-candy-machines" target="_blank">See examples (Python, JavaScript)</a>.

        With this endpoint, you can list all candy machines published to Solana mainnet.

        We update this data every 15 minutes.

        The output is a list of config addresses, currently about 17000 in length.

        `Cost: 2 Credits` (<a href="#section/Pricing">See Pricing</a>)
      operationId: solanaListAllCandyMachines
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                  last_updated: 1639529803
                  config_addresses:
                  - 9AYhVG9rH4DwPufEmSD1PD3vs64GhaXWNzXb33jFpByA
                  - FmZNv5HqPWEqXHYtKPKe15WF8PuNk1FbJmVMN92dVjNP
                  - 6Anxd2Tn7KEEMKpGyBdVWTCp5jpAum8cppgXMJTzp44R
                  config_addresses_v1:
                  - 9AYhVG9rH4DwPufEmSD1PD3vs64GhaXWNzXb33jFpByA
                  - FmZNv5HqPWEqXHYtKPKe15WF8PuNk1FbJmVMN92dVjNP
                  - 6Anxd2Tn7KEEMKpGyBdVWTCp5jpAum8cppgXMJTzp44R
                  config_addresses_v2:
                  - BfA9f9My57iUQE1tFNd2hNzFMK9fRMbyDvWNGuFw38gB
                  - w8cmmrTixuf2rdVbxLLFsiRwcZrERxMfb8JbDKSj26f
                  - C1tf83mSHT7aptd5VagjY2VXjfqa7qgkZkjiW5nPQshN
                  config_addresses_magic-eden-v1:
                  - GXYYT2V594gfXoYWFj4UXbEMkymoZ6hVwxqWXjQmwRBa
                  - 8fFG9VsS1PGEuQZJjxZMjXfimysUfR1sePcTqq1AehCM
                  - 4PN9nnWC4ttvNpNxxaGyTkpMyVfG1a7N54U4cr4nwigF
                properties:
                  last_updated:
                    description: The unix epoch time stamp of when the candy machine
                      list was last updated (UTC time)
                    type: int
                  config_addresses:
                    description: List of `v1` config addresses. Only supplied for
                      backwards compatibility.
                    items:
                      properties:
                        config_address:
                          description: The config addresses of a `v1` candy machine
                          type: string
                    type: array
                  config_addresses_v1:
                    description: List of config addresses for all `v1` candy machines
                      on Solana.
                    items:
                      properties:
                        config_address:
                          description: The config address of a `v1` candy machine
                          type: string
                    type: array
                  config_addresses_v2:
                    description: List of config addresses for all `v2` candy machines
                      on Solana.
                    items:
                      properties:
                        config_address:
                          description: The config address of a `v2` candy machine
                          type: string
                    type: array
                  config_addresses_magic-eden-v1:
                    description: List of config addresses for all `Magic Eden` candy
                      machines on Solana.
                    items:
                      properties:
                        config_address:
                          description: The config address of a `Magic Eden` candy
                            machine
                          type: string
                    type: array
          description: Successful Response
        "400":
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: List all CMs
      tags:
      - Solana Candy Machine
  /solana/nft/candy_machine/{network}/{candy_machine_id}/nfts:
    get:
      description: "<a href=\"https://github.com/BL0CK-X/the-blockchain-api/tree/main/examples/solana-candy-machine/get-candy-machine-all-nfts\"\
        \ target=\"_blank\"> See examples (Python, JavaScript)</a>.\n\nUse this endpoint\
        \ to get the list of all NFTs (minted and unminted) from a Solana Candy Machine.\n\
        \nThis works for `v1` and `v2` candy machines. \n\n*However*, for `v2` only\
        \ the value for `all_nfts` is provided. To determine which are minted and\
        \ unminted follow this example.\n\nYou do not need to specify `v1` or `v2`\
        \ for this endpoint as it will automatically determine it from the candy machine\
        \ ID.\n\nSee example for how to get the list of NFT hashes <a href=\"https://github.com/BL0CK-X/the-blockchain-api/tree/main/examples/solana-candy-machine/get-candy-machine-hash-table\"\
        \ target=\"_blank\">here</a>.\n\n\n\n`Cost: 2 Credits` (<a href=\"#section/Pricing\"\
        >See Pricing</a>)"
      operationId: solanaGetAllNFTsFromCandyMachine
      parameters:
      - description: The network ID
        example: mainnet-beta
        explode: false
        in: path
        name: network
        required: true
        schema:
          enum:
          - devnet
          - mainnet-beta
          type: string
        style: simple
      - description: The ID of the candy machine
        example: FmkrvXRenCGtwBHw3VtBcExp8eTdnau97upaewF4GUEX
        explode: false
        in: path
        name: candy_machine_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllNFTsResponse'
          description: Successful Response. Click "Expand All" on the right sidebar
            to see more.
        "400":
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
        "404":
          description: Not found
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: "Get CM's NFTs \n"
      tags:
      - Solana Candy Machine
  /solana/nft/candy_machine/metadata:
    post:
      description: |-
        <a href="https://github.com/BL0CK-X/the-blockchain-api/tree/main/examples/solana-candy-machine/get-candy-machine-metadata" target="_blank">See examples (Python, JavaScript)</a>.

        Use this endpoint to get metadata about a Metaplex candy machine. This includes the goLiveDate, itemsAvailable, and itemsRedeemed. To see what is included, expand the green successful response below.

        NOTE: Supply exactly one of `candy_machine_id`, `config_address`, or `uuid`. If you provide more than one, you will receive a `400` error.


        `Cost: 2 Credits` (<a href="#section/Pricing">See Pricing</a>)
      operationId: solanaGetCandyMachineMetadata
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCandyMetadataRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCandyMetadataResponse'
          description: |
            Successful Response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCandyMetadataErrorResponse'
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "402":
          description: Payment required. Occurs when you run out of API requests.
            Upgrade <a href="https://dashboard.theblockchainapi.com/billing" target="_blank">here</a>.
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: |
        Get a CM's metadata
      tags:
      - Solana Candy Machine
  /checkout/v1/project:
    post:
      description: |-
        A project represents that project or company that is accepting payments.

        A project can have products, which can have multiple plans (prices) each.

        To create a project, you just need to supply a name and a Solana public key to receive payments.

        `Cost: 0 Credit` (Free) (<a href="#section/Pricing">See Pricing</a>)
      operationId: createCCProject
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CCProjectCreateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CCProject'
          description: Successful Response
        "400":
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "429":
          description: Rate limited
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: |
        Create a project
      tags:
      - CC Project
  /checkout/v1/project/{project_id}:
    delete:
      description: |-
        Delete a project.

        `Cost: 0 Credit` (Free) (<a href="#section/Pricing">See Pricing</a>)
      operationId: deleteCCProject
      parameters:
      - description: The ID of the project. Created and returned when a project is
          created.
        example: project_WDQskRIfHQxj53N5mk5K
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Successful Response
        "400":
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "429":
          description: Rate limited
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: |
        Delete a project
      tags:
      - CC Project
    get:
      description: |-
        Retrieve a project.

        `Cost: 0 Credit` (Free) (<a href="#section/Pricing">See Pricing</a>)
      operationId: getCCProject
      parameters:
      - description: The ID of the project. Created and returned when a project is
          created.
        example: project_WDQskRIfHQxj53N5mk5K
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CCProject'
          description: Successful Response
        "400":
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "429":
          description: Rate limited
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: |
        Get a project
      tags:
      - CC Project
    put:
      description: |-
        Retrieve a project.

        `Cost: 0 Credit` (Free) (<a href="#section/Pricing">See Pricing</a>)
      operationId: updateCCProject
      parameters:
      - description: The ID of the project. Created and returned when a project is
          created.
        example: project_WDQskRIfHQxj53N5mk5K
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CCProject'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CCProject'
          description: Successful Response
        "400":
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "429":
          description: Rate limited
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: |
        Update a project
      tags:
      - CC Project
  /checkout/v1/projects:
    get:
      description: |-
        List all projects associated with an account.

        `Cost: 0 Credit` (Free) (<a href="#section/Pricing">See Pricing</a>)
      operationId: listCCProjects
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CCProject'
                type: array
          description: Successful Response
        "400":
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "429":
          description: Rate limited
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: |
        List projects
      tags:
      - CC Project
  /checkout/v1/project/{project_id}/payment/{payment_identifier}:
    get:
      description: |-
        Retrieve a specific payment, either by its `payment_id` or `payment_validation_code`.

        `Cost: 0 Credit` (Free) (<a href="#section/Pricing">See Pricing</a>)
      operationId: getCCPayment
      parameters:
      - description: The ID of the project. Created and returned when a project is
          created.
        example: project_WDQskRIfHQxj53N5mk5K
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          You can supply either `payment_id` or `payment_validation_code`.

          The `payment_id` is only visible by you and uniquely identifies a payment.  The `payment_validation_code` is shown exclusively to the customer and the owner of the project. It can be used to redeem a payment. You can verify a payment by pulling the payment with the `payment_validation_code`.
        example:
        - payment_97jA1szpVjrSI5EvOb5zxNQFq5CfrC
        explode: false
        in: path
        name: payment_identifier
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CCPayment'
          description: Successful Response
        "400":
          description: Bad request (check response message)
        "401":
          description: Invalid API key pair in headers
        "429":
          description: Rate limited
      security:
      - APIKeyID: []
        APISecretKey: []
      summary: |
        Get a payment
      tags:
      - CC Payment
  /checkout/v1/project/{project_id}/payments:
    get:
      description: |-
[...]
